.DS_Store
build
node_modules
images
images_1999

records.json
shipitfile.js

public/img/comics/*
public/img/o/*
public/img/example.jpg

!public/img/comics/.gitkeep
!public/img/o/.gitkeep

default.conf
Dockerfile

temp

TODO